---
# main styles
---


//////////////
// settings

$code-font-family:  Menlo, Monaco, "Courier New", monospace;

$pre-background-color:  #f9f9f9;    // pre

$blockquote-color:        #7a7a7a;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #f9f9f9;


/////////////////////
// styles

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;   // note: was 20px;
    // line-height: 1.5;
   }


   .container {
     max-width: 58rem;
     padding-left: 1rem;
     padding-right: 1rem;
     margin-left: auto;
     margin-right: auto;
   }

    a {
      color:  #b00800;              // use ruby-ish red - was: navy;
      text-decoration: none;
    }
    a:visited {
      /* color: navy; */
    }
    a:hover {
      text-decoration: underline;
    }


//////////////////////
// Code

code,
pre {
  font-family: $code-font-family;
}
code {
  padding: .25em .5em;
  font-size: 95%;   // was 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .95rem;  // was .8rem;
  // line-height: 1.4;
  background-color: $pre-background-color;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}  


/////////////////////
// Quotes

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $blockquote-color;
  border-left: .25rem solid $blockquote-border-color;

  p:last-child {
    margin-bottom: 0;
  }
}

//////////////////////
// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  td,
  th {
   padding: .25rem .5rem;
   border: 1px solid $table-border-color;
  }

  tr:nth-child(odd) td,
  tr:nth-child(odd) th {
    background-color: $table-odd-background-color;
  }
}


