
<!-- debug:
  page.path: -I {{ page.path }} I-
  -->

{% if page.path == "README.md" %}

{% elsif page.path contains "advent2017" %}
   <hr>
   <div style="font-size: 80%;">
     <!-- fix/todo:  move to its own include  homelink or link or something ???
       -->

     {% if page.path contains "README.md" %}
          From the <a href="{{ '/' | relative_url }}">Calendar @ Planet Ruby</a>.
     {% else %}
          From the <a href="{{ '/advent2017' | relative_url }}">Advent Calendar 2017 @ Planet Ruby</a>.
     {% endif %}
   </div>
{% else %}
   <hr>
   <div style="font-size: 80%;">
     From the <a href="{{ '/' | relative_url }}">Calendar @ Planet Ruby</a>.
   </div>
{% endif %}
