<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Planet Ruby</title>

  {% include head.html %}
</head>
<body>

  <div class="container">

        {% include header.html %}

    <h1>{{ page.title }}</h1>

    <p>
       Subscribe to monthly updates via the web feed 
       in <a href="{{ '/feed.xml' | relative_url  }}">XML</a> • <a href="{{ '/feed.json' | relative_url }}">JSON</a>.
    </p>


   {% include broadcasts.html books=true %} 
    
   {{ content }}




      {% include footer.html %}


  </div>
  {% include github.html %}

 <!-- debug:
     check post.id / page.id for feed.xml
      page.id: {{ page.id }}
      page.id | absolute_url: {{ page.id | absolute_url }} 
   -->
  
</body>
</html>
